// GLOBAL CSS

// BUTTONS

.btn-success{
	background-color: $success-color !important;
	border-color: #95A757 !important;

	&:hover{
		background-color: darken($success-color,5%) !important;
	}
}

// END FOR BUTTONS

.content-center{
	display: block;
	margin: 0 auto;
}

.text-center{
	display: block;
	text-align: text-center;
}

.row-break{
	margin-bottom: 20px;
}

.main-content-container{
	margin: 0 auto;
    width: 1230px;
    padding-left: 50px;
    padding-right: 50px;
    color: #000;
    box-sizing: border-box;
}

input::placeholder{
	color: #95989A !important;
}
// END OF GLOBAL CSS