//  ICONS

.nav-ic{
	height: 21px;
	width: 25px;
	display: inline-block;
	position: relative;
	margin-left: 14px;
	background-repeat: no-repeat;
}

.header-ic{
	height: 30px;
	width: 30px;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	margin-right: 30px;
}

.input-ic{
	position: relative;
	
	input{
		padding-left: 40px;
	}
}

.select-ic{
	position: relative;
	
	select{
		padding-left: 45px;
	}

	&:after{
		content: '';
		display: inline-block;
		height: 23px;
		width: 1px;
		background-color: #BCBDBD;
		position: absolute;
		top: 5px;
		left: 40px;
	}
}

.suggestion-ic{
	position: absolute;
}

.ic-notification{
	background: url('../img/ic_notification.png') no-repeat;
	top: 17px;
    left: -21px;
	background-size: 100% 100%;
	height: 20px !important;
	width: 20px !important;
}

.ic-dashboard{
	background: url('../img/ic_dashboard.png') no-repeat;
	top: 2px;
}

.ic-dashboard-green{
	background: url('../img/ic_dashboard_title.png') no-repeat;
	top: 1px;
}

.ic-user{
	background: url('../img/ic_user.png') no-repeat;
	top: 4px;
}

.ic-user-green{
	background: url('../img/ic_user_title.png') no-repeat;
	top: 7px;
	height: 37px;
	width: 37px;
}

.ic-message{
	background: url('../img/ic_message.png') no-repeat;
	top: 7px;
}

.ic-message-green{
	background: url('../img/ic_message_title.png') no-repeat;
	top: 7px;
	width: 41px;
}

.ic-check-contact{
	background: url('../img/ic_check_contacts.png') no-repeat;
	top: 9px;
	right: 10px;
	height: 16px;
	width: 16px;
}

.ic-add-contact-messages{
	position: absolute;
	background: url('../img/ic_add_contact_messages.png') no-repeat;
	bottom: 5px;
	right: 0px;
	height: 16px;
	width: 16px;
	cursor: pointer;
}

.ic-location{
	position: absolute;
    background: url(../img/ic_location.png) no-repeat;
    bottom: -25px;
    right: -2px;
    height: 26px;
    width: 26px;
}


// ICONS FOR INPUTS

.ic-search{
	&:before{
		content: '';
	    background: url(../img/ic_search.png) no-repeat;
	    top: 7px;
	    left: 13px;
	    height: 30px;
	    width: 30px;
	    display: inline-block;
	    position: absolute;	
	}
}

// END ICONS FOR INPUTS

// ICONS FOR SELECT INPUTS

.ic-filter{
	&:before{
		content: '';
	    background: url(../img/ic_filter.png) no-repeat;
	    top: 9px;
	    left: 10px;
	    height: 30px;
	    width: 30px;
	    display: inline-block;
	    position: absolute;	
	}
}

.ic-sort{
	&:before{
		content: '';
	    background: url(../img/ic_sort.png) no-repeat;
	    top: 9px;
    	left: 14px;
	    height: 30px;
	    width: 30px;
	    display: inline-block;
	    position: absolute;	
	}
}

// END ICONS FOR SELECT INPUTS

// END OF ICONS