//  ICONS

.nav-ic{
	height: 21px;
	width: 25px;
	display: inline-block;
	position: relative;
	margin-left: 14px;
	background-repeat: no-repeat;
}

.header-ic{
	height: 30px;
	width: 30px;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	margin-right: 30px;
}

.ic-notification{
	background: url('../img/ic_notification.png') no-repeat;
	top: 17px;
    left: -21px;
	background-size: 100% 100%;
	height: 20px !important;
	width: 20px !important;
}

.ic-dashboard{
	background: url('../img/ic_dashboard.png') no-repeat;
	top: 2px;
}

.ic-dashboard-green{
	background: url('../img/ic_dashboard_title.png') no-repeat;
	top: 1px;
}

.ic-user{
	background: url('../img/ic_user.png') no-repeat;
	top: 4px;
}

.ic-message{
	background: url('../img/ic_message.png') no-repeat;
	top: 7px;
}


// END OF ICONS