//  ICONS

.nav-ic{
	height: 21px;
	width: 25px;
	display: inline-block;
	position: relative;
	margin-left: 14px;
	background-repeat: no-repeat;
}

.header-ic{
	height: 30px;
	width: 30px;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	margin-right: 30px;
}

.input-ic{
	position: relative;
	
	input{
		padding-left: 40px;
	}
}

.select-ic{
	position: relative;
	
	select{
		padding-left: 45px;
	}

	&:after{
		content: '';
		display: inline-block;
		height: 23px;
		width: 1px;
		background-color: #BCBDBD;
		position: absolute;
		top: 5px;
		left: 40px;
	}
}

.suggestion-ic{
	position: absolute;
}

.calendar-ic{
	
	&:before{
		content: '';
		position: absolute;
		display: inline-block;
		height: 28px;
	    width: 28px;
	    background-size: cover;
	    background-position: center center;
	    top: 19px;
	    left: 9px;
	}

	@for $i from 36 through 42{
		&:nth-child(#{$i}){
			&:before{
				display: none;
			}
		}
	}
}

.ic-notification{
	background: url('../img/ic_notification.png') no-repeat;
	top: 17px;
    left: -21px;
	background-size: 100% 100%;
	height: 20px !important;
	width: 20px !important;
}

.ic-dashboard{
	background: url('../img/ic_dashboard.png') no-repeat;
	top: 2px;
}

.ic-dashboard-green{
	background: url('../img/ic_dashboard_title.png') no-repeat;
	top: 1px;
}

.ic-user{
	background: url('../img/ic_user.png') no-repeat;
	top: 4px;
}

.ic-user-green{
	background: url('../img/ic_user_title.png') no-repeat;
	top: 7px;
	height: 37px;
	width: 37px;
}

.ic-message{
	background: url('../img/ic_message.png') no-repeat;
	top: 7px;
}

.ic-message-green{
	background: url('../img/ic_message_title.png') no-repeat;
	top: 7px;
	width: 41px;
}

.ic-check-contact{
	background: url('../img/ic_check_contacts.png') no-repeat;
	top: 9px;
	right: 10px;
	height: 16px;
	width: 16px;
}

.ic-add-contact-messages{
	position: absolute;
	background: url('../img/ic_add_contact_messages.png') no-repeat;
	bottom: 5px;
	right: 0px;
	height: 16px;
	width: 16px;
	cursor: pointer;
}

.ic-location{
	position: absolute;
    background: url(../img/ic_location.png) no-repeat;
    bottom: -25px;
    right: -2px;
    height: 26px;
    width: 26px;
}


// ICONS FOR INPUTS

.ic-search{
	&:before{
		content: '';
	    background: url(../img/ic_search.png) no-repeat;
	    top: 7px;
	    left: 13px;
	    height: 30px;
	    width: 30px;
	    display: inline-block;
	    position: absolute;	
	}
}

// END ICONS FOR INPUTS

// ICONS FOR SELECT INPUTS

.ic-filter{
	&:before{
		content: '';
	    background: url(../img/ic_filter.png) no-repeat;
	    top: 9px;
	    left: 10px;
	    height: 30px;
	    width: 30px;
	    display: inline-block;
	    position: absolute;	
	}
}

.ic-sort{
	&:before{
		content: '';
	    background: url(../img/ic_sort.png) no-repeat;
	    top: 9px;
    	left: 14px;
	    height: 30px;
	    width: 30px;
	    display: inline-block;
	    position: absolute;	
	}
}

// END ICONS FOR SELECT INPUTS

/* ALIEN */

.emoji-alien-anxious{

	&:before{
		background-image: url(../img/resources/alien/emoji/anxious.png);
	}
}

.emoji-alien-calm{

	&:before{
		background-image: url(../img/resources/alien/emoji/calm.png);
	}
}

.emoji-alien-challenged{

	&:before{
		background-image: url(../img/resources/alien/emoji/challenged.png);
	}
}

.emoji-alien-confused{

	&:before{
		background-image: url(../img/resources/alien/emoji/confused.png);
	}
}

.emoji-alien-excitement{

	&:before{
		background-image: url(../img/resources/alien/emoji/excitement.png);
	}
}

.emoji-alien-happy{

	&:before{
		background-image: url(../img/resources/alien/emoji/happy.png);
	}
}

.emoji-alien-hyped{

	&:before{
		background-image: url(../img/resources/alien/emoji/hyped.png);
	}
}

.emoji-alien-loading{

	&:before{
		background-image: url(../img/resources/alien/emoji/loading.png);
	}
}

.emoji-alien-pleasant{

	&:before{
		background-image: url(../img/resources/alien/emoji/pleasant.png);
	}
}

.emoji-alien-unpleasant{

	&:before{
		background-image: url(../img/resources/alien/emoji/unpleasant.png);
	}
}

.emoji-alien-zen{

	&:before{
		background-image: url(../img/resources/alien/emoji/zen.png);
	}
}

.sticker-alien-agree{

	&:before{
		background-image: url(../img/resources/alien/sticker/agree.png);
	}
}

.sticker-alien-angry{

	&:before{
		background-image: url(../img/resources/alien/sticker/angry.png);
	}
}

.sticker-alien-arrive{

	&:before{
		background-image: url(../img/resources/alien/sticker/arrive.png);
	}
}

.sticker-alien-bye{

	&:before{
		background-image: url(../img/resources/alien/sticker/bye.png);
	}
}

.sticker-alien-cheerful{

	&:before{
		background-image: url(../img/resources/alien/sticker/cheerful.png);
	}
}

.sticker-alien-comfort{

	&:before{
		background-image: url(../img/resources/alien/sticker/comfort.png);
	}
}

.sticker-alien-crazy{

	&:before{
		background-image: url(../img/resources/alien/sticker/crazy.png);
	}
}

.sticker-alien-hate{

	&:before{
		background-image: url(../img/resources/alien/sticker/hate.png);
	}
}

.sticker-alien-hi{

	&:before{
		background-image: url(../img/resources/alien/sticker/hi.png);
	}
}

.sticker-alien-hit{

	&:before{
		background-image: url(../img/resources/alien/sticker/hit.png);
	}
}

.sticker-alien-mad{

	&:before{
		background-image: url(../img/resources/alien/sticker/mad.png);
	}
}

.sticker-alien-please{

	&:before{
		background-image: url(../img/resources/alien/sticker/please.png);
	}
}

.sticker-alien-reject{

	&:before{
		background-image: url(../img/resources/alien/sticker/reject.png);
	}
}

.sticker-alien-shush{

	&:before{
		background-image: url(../img/resources/alien/sticker/shush.png);
	}
}

.sticker-alien-transfer{

	&:before{
		background-image: url(../img/resources/alien/sticker/transfer.png);
	}
}


/* END OF ALIEN */

/* BEAN */

.emoji-bean-anxious{

	&:before{
		background-image: url(../img/resources/bean/emoji/anxious.png);
	}
}

.emoji-bean-calm{

	&:before{
		background-image: url(../img/resources/bean/emoji/calm.png);
	}
}

.emoji-bean-challenged{

	&:before{
		background-image: url(../img/resources/bean/emoji/challenged.png);
	}
}

.emoji-bean-confused{

	&:before{
		background-image: url(../img/resources/bean/emoji/confused.png);
	}
}

.emoji-bean-excitement{

	&:before{
		background-image: url(../img/resources/bean/emoji/excitement.png);
	}
}

.emoji-bean-happy{

	&:before{
		background-image: url(../img/resources/bean/emoji/happy.png);
	}
}

.emoji-bean-hyped{

	&:before{
		background-image: url(../img/resources/bean/emoji/hyped.png);
	}
}

.emoji-bean-loading{

	&:before{
		background-image: url(../img/resources/bean/emoji/loading.png);
	}
}

.emoji-bean-pleasant{

	&:before{
		background-image: url(../img/resources/bean/emoji/pleasant.png);
	}
}

.emoji-bean-unpleasant{

	&:before{
		background-image: url(../img/resources/bean/emoji/unpleasant.png);
	}
}

.emoji-bean-zen{

	&:before{
		background-image: url(../img/resources/bean/emoji/zen.png);
	}
}

.sticker-bean-breakdown{

	&:before{
		background-image: url(../img/resources/bean/sticker/breakdown.png);
	}
}

.sticker-bean-bye{

	&:before{
		background-image: url(../img/resources/bean/sticker/bye.png);
	}
}

.sticker-bean-cheerful{

	&:before{
		background-image: url(../img/resources/bean/sticker/cheerful.png);
	}
}

.sticker-bean-clap{

	&:before{
		background-image: url(../img/resources/bean/sticker/clap.png);
	}
}

.sticker-bean-comfort{

	&:before{
		background-image: url(../img/resources/bean/sticker/comfort.png);
	}
}

.sticker-bean-good{

	&:before{
		background-image: url(../img/resources/bean/sticker/good.png);
	}
}

.sticker-bean-laugh{

	&:before{
		background-image: url(../img/resources/bean/sticker/laugh.png);
	}
}

.sticker-bean-lazy{

	&:before{
		background-image: url(../img/resources/bean/sticker/lazy.png);
	}
}

.sticker-bean-loveyou{

	&:before{
		background-image: url(../img/resources/bean/sticker/loveyou.png);
	}
}

.sticker-bean-mad{

	&:before{
		background-image: url(../img/resources/bean/sticker/mad.png);
	}
}

.sticker-bean-scared{

	&:before{
		background-image: url(../img/resources/bean/sticker/scared.png);
	}
}

.sticker-bean-shock{

	&:before{
		background-image: url(../img/resources/bean/sticker/shock.png);
	}
}

.sticker-bean-shy{

	&:before{
		background-image: url(../img/resources/bean/sticker/shy.png);
	}
}

.sticker-bean-sleep{

	&:before{
		background-image: url(../img/resources/bean/sticker/sleep.png);
	}
}

.sticker-bean-touched{

	&:before{
		background-image: url(../img/resources/bean/sticker/touched.png);
	}
}

/* END OF BEAN */

/* BUNNY */

.emoji-bunny-anxious{

	&:before{
		background-image: url(../img/resources/bunny/emoji/anxious.png);
	}
}

.emoji-bunny-calm{

	&:before{
		background-image: url(../img/resources/bunny/emoji/calm.png);
	}
}

.emoji-bunny-challenged{

	&:before{
		background-image: url(../img/resources/bunny/emoji/challenged.png);
	}
}

.emoji-bunny-confused{

	&:before{
		background-image: url(../img/resources/bunny/emoji/confused.png);
	}
}

.emoji-bunny-excitement{

	&:before{
		background-image: url(../img/resources/bunny/emoji/excitement.png);
	}
}

.emoji-bunny-happy{

	&:before{
		background-image: url(../img/resources/bunny/emoji/happy.png);
	}
}

.emoji-bunny-hyped{

	&:before{
		background-image: url(../img/resources/bunny/emoji/hyped.png);
	}
}

.emoji-bunny-loading{

	&:before{
		background-image: url(../img/resources/bunny/emoji/loading.png);
	}
}

.emoji-bunny-pleasant{

	&:before{
		background-image: url(../img/resources/bunny/emoji/pleasant.png);
	}
}

.emoji-bunny-unpleasant{

	&:before{
		background-image: url(../img/resources/bunny/emoji/unpleasant.png);
	}
}

.emoji-bunny-zen{

	&:before{
		background-image: url(../img/resources/bunny/emoji/zen.png);
	}
}

.sticker-bunny-angry{

	&:before{
		background-image: url(../img/resources/bunny/sticker/angry.png);
	}
}

.sticker-bunny-byebye{

	&:before{
		background-image: url(../img/resources/bunny/sticker/byebye.png);
	}
}

.sticker-bunny-chu{

	&:before{
		background-image: url(../img/resources/bunny/sticker/chu.png);
	}
}

.sticker-bunny-confused{

	&:before{
		background-image: url(../img/resources/bunny/sticker/confused.png);
	}
}

.sticker-bunny-dispite{

	&:before{
		background-image: url(../img/resources/bunny/sticker/dispite.png);
	}
}

.sticker-bunny-face-please{

	&:before{
		background-image: url(../img/resources/bunny/sticker/face-please.png);
	}
}

.sticker-bunny-good{

	&:before{
		background-image: url(../img/resources/bunny/sticker/good.png);
	}
}

.sticker-bunny-heart{

	&:before{
		background-image: url(../img/resources/bunny/sticker/heart.png);
	}
}

.sticker-bunny-impressed{

	&:before{
		background-image: url(../img/resources/bunny/sticker/impressed.png);
	}
}

.sticker-bunny-mad{

	&:before{
		background-image: url(../img/resources/bunny/sticker/mad.png);
	}
}

.sticker-bunny-sleep{

	&:before{
		background-image: url(../img/resources/bunny/sticker/sleep.png);
	}
}

.sticker-bunny-speechless{

	&:before{
		background-image: url(../img/resources/bunny/sticker/speechless.png);
	}
}

.sticker-bunny-sweet{

	&:before{
		background-image: url(../img/resources/bunny/sticker/sweet.png);
	}
}

.sticker-bunny-think{

	&:before{
		background-image: url(../img/resources/bunny/sticker/think.png);
	}
}

/* END OF BUNNY */

/* CHICK */

.emoji-chick-anxious{

	&:before{
		background-image: url(../img/resources/chick/emoji/anxious.png);
	}
}

.emoji-chick-calm{

	&:before{
		background-image: url(../img/resources/chick/emoji/calm.png);
	}
}

.emoji-chick-challenged{

	&:before{
		background-image: url(../img/resources/chick/emoji/challenged.png);
	}
}

.emoji-chick-confused{

	&:before{
		background-image: url(../img/resources/chick/emoji/confused.png);
	}
}

.emoji-chick-excitement{

	&:before{
		background-image: url(../img/resources/chick/emoji/excitement.png);
	}
}

.emoji-chick-happy{

	&:before{
		background-image: url(../img/resources/chick/emoji/happy.png);
	}
}

.emoji-chick-hyped{

	&:before{
		background-image: url(../img/resources/chick/emoji/hyped.png);
	}
}

.emoji-chick-loading{

	&:before{
		background-image: url(../img/resources/chick/emoji/loading.png);
	}
}

.emoji-chick-pleasant{

	&:before{
		background-image: url(../img/resources/chick/emoji/pleasant.png);
	}
}

.emoji-chick-unpleasant{

	&:before{
		background-image: url(../img/resources/chick/emoji/unpleasant.png);
	}
}

.emoji-chick-zen{

	&:before{
		background-image: url(../img/resources/chick/emoji/zen.png);
	}
}

.sticker-chick-angry{

	&:before{
		background-image: url(../img/resources/chick/sticker/angry.png);
	}
}

.sticker-chick-caught-a-cold{

	&:before{
		background-image: url(../img/resources/chick/sticker/caught-a-cold.png);
	}
}

.sticker-chick-comfort{

	&:before{
		background-image: url(../img/resources/chick/sticker/comfort.png);
	}
}

.sticker-chick-couple{

	&:before{
		background-image: url(../img/resources/chick/sticker/couple.png);
	}
}

.sticker-chick-hug{

	&:before{
		background-image: url(../img/resources/chick/sticker/hug.png);
	}
}

.sticker-chick-mad{

	&:before{
		background-image: url(../img/resources/chick/sticker/mad.png);
	}
}

.sticker-chick-nervous{

	&:before{
		background-image: url(../img/resources/chick/sticker/nervous.png);
	}
}

.sticker-chick-satisfied{

	&:before{
		background-image: url(../img/resources/chick/sticker/satisfied.png);
	}
}

.sticker-chick-sick{

	&:before{
		background-image: url(../img/resources/chick/sticker/sick.png);
	}
}

.sticker-chick-sleep{

	&:before{
		background-image: url(../img/resources/chick/sticker/sleep.png);
	}
}

.sticker-chick-sleeping{

	&:before{
		background-image: url(../img/resources/chick/sticker/sleeping.png);
	}
}

.sticker-chick-sneak{

	&:before{
		background-image: url(../img/resources/chick/sticker/sneak.png);
	}
}

.sticker-chick-speechless{

	&:before{
		background-image: url(../img/resources/chick/sticker/speechless.png);
	}
}

.sticker-chick-stack{

	&:before{
		background-image: url(../img/resources/chick/sticker/stack.png);
	}
}

.sticker-chick-sweet{

	&:before{
		background-image: url(../img/resources/chick/sticker/sweet.png);
	}
}

/* END OF CHICK */

/* CLOUD */

.emoji-cloud-anxious{

	&:before{
		background-image: url(../img/resources/cloud/emoji/anxious.png);
	}
}

.emoji-cloud-calm{

	&:before{
		background-image: url(../img/resources/cloud/emoji/calm.png);
	}
}

.emoji-cloud-challenged{

	&:before{
		background-image: url(../img/resources/cloud/emoji/challenged.png);
	}
}

.emoji-cloud-confused{

	&:before{
		background-image: url(../img/resources/cloud/emoji/confused.png);
	}
}

.emoji-cloud-excitement{

	&:before{
		background-image: url(../img/resources/cloud/emoji/excitement.png);
	}
}

.emoji-cloud-happy{

	&:before{
		background-image: url(../img/resources/cloud/emoji/happy.png);
	}
}

.emoji-cloud-hyped{

	&:before{
		background-image: url(../img/resources/cloud/emoji/hyped.png);
	}
}

.emoji-cloud-loading{

	&:before{
		background-image: url(../img/resources/cloud/emoji/loading.png);
	}
}

.emoji-cloud-pleasant{

	&:before{
		background-image: url(../img/resources/cloud/emoji/pleasant.png);
	}
}

.emoji-cloud-unpleasant{

	&:before{
		background-image: url(../img/resources/cloud/emoji/unpleasant.png);
	}
}

.emoji-cloud-zen{

	&:before{
		background-image: url(../img/resources/cloud/emoji/zen.png);
	}
}

.sticker-cloud-beg{

	&:before{
		background-image: url(../img/resources/cloud/sticker/beg.png);
	}
}

.sticker-cloud-bored{

	&:before{
		background-image: url(../img/resources/cloud/sticker/bored.png);
	}
}

.sticker-cloud-chuckle{

	&:before{
		background-image: url(../img/resources/cloud/sticker/chuckle.png);
	}
}

.sticker-cloud-despise{

	&:before{
		background-image: url(../img/resources/cloud/sticker/despise.png);
	}
}

.sticker-cloud-freeze{

	&:before{
		background-image: url(../img/resources/cloud/sticker/freeze.png);
	}
}

.sticker-cloud-glare{

	&:before{
		background-image: url(../img/resources/cloud/sticker/glare.png);
	}
}

.sticker-cloud-laugh{

	&:before{
		background-image: url(../img/resources/cloud/sticker/laugh.png);
	}
}

.sticker-cloud-love{

	&:before{
		background-image: url(../img/resources/cloud/sticker/love.png);
	}
}

.sticker-cloud-mad{

	&:before{
		background-image: url(../img/resources/cloud/sticker/mad.png);
	}
}

.sticker-cloud-panic{

	&:before{
		background-image: url(../img/resources/cloud/sticker/panic.png);
	}
}

.sticker-cloud-satisfied{

	&:before{
		background-image: url(../img/resources/cloud/sticker/satisfied.png);
	}
}

.sticker-cloud-sleep{

	&:before{
		background-image: url(../img/resources/cloud/sticker/sleep.png);
	}
}

.sticker-cloud-sulky{

	&:before{
		background-image: url(../img/resources/cloud/sticker/sulky.png);
	}
}

.sticker-cloud-wave{

	&:before{
		background-image: url(../img/resources/cloud/sticker/wave.png);
	}
}

.sticker-cloud-you-suck{

	&:before{
		background-image: url(../img/resources/cloud/sticker/you-suck.png);
	}
}


/* END OF CLOUD */

/* COUPLE YOGA */

.emoji-coupleyoga-anxious{

	&:before{
		background-image: url(../img/resources/coupleyoga/emoji/anxious.png);
	}
}

.emoji-coupleyoga-calm{

	&:before{
		background-image: url(../img/resources/coupleyoga/emoji/calm.png);
	}
}

.emoji-coupleyoga-challenged{

	&:before{
		background-image: url(../img/resources/coupleyoga/emoji/challenged.png);
	}
}

.emoji-coupleyoga-confused{

	&:before{
		background-image: url(../img/resources/coupleyoga/emoji/confused.png);
	}
}

.emoji-coupleyoga-excitement{

	&:before{
		background-image: url(../img/resources/coupleyoga/emoji/excitement.png);
	}
}

.emoji-coupleyoga-happy{

	&:before{
		background-image: url(../img/resources/coupleyoga/emoji/happy.png);
	}
}

.emoji-coupleyoga-hyped{

	&:before{
		background-image: url(../img/resources/coupleyoga/emoji/hyped.png);
	}
}

.emoji-coupleyoga-loading{

	&:before{
		background-image: url(../img/resources/coupleyoga/emoji/loading.png);
	}
}

.emoji-coupleyoga-pleasant{

	&:before{
		background-image: url(../img/resources/coupleyoga/emoji/pleasant.png);
	}
}

.emoji-coupleyoga-unpleasant{

	&:before{
		background-image: url(../img/resources/coupleyoga/emoji/unpleasant.png);
	}
}

.emoji-coupleyoga-zen{

	&:before{
		background-image: url(../img/resources/coupleyoga/emoji/zen.png);
	}
}

.sticker-coupleyoga-angry{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/angry.png);
	}
}

.sticker-coupleyoga-bye{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/bye.png);
	}
}

.sticker-coupleyoga-circle{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/circle.png);
	}
}

.sticker-coupleyoga-congratulations{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/congratulations.png);
	}
}

.sticker-coupleyoga-eye-contact{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/eye-contact.png);
	}
}

.sticker-coupleyoga-heavy{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/heavy.png);
	}
}

.sticker-coupleyoga-helpless{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/helpless.png);
	}
}

.sticker-coupleyoga-kick{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/kick.png);
	}
}

.sticker-coupleyoga-love-you{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/love-you.png);
	}
}

.sticker-coupleyoga-love-you2{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/love-you2.png);
	}
}

.sticker-coupleyoga-ok{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/ok.png);
	}
}

.sticker-coupleyoga-please{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/please.png);
	}
}

.sticker-coupleyoga-punish1{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/punish1.png);
	}
}

.sticker-coupleyoga-punish2{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/punish2.png);
	}
}

.sticker-coupleyoga-sweet{

	&:before{
		background-image: url(../img/resources/coupleyoga/sticker/sweet.png);
	}
}

/* END OF COUPLE YOGA */

/* DEER */

.emoji-deer-anxious{

	&:before{
		background-image: url(../img/resources/deer/emoji/anxious.png);
	}
}

.emoji-deer-calm{

	&:before{
		background-image: url(../img/resources/deer/emoji/calm.png);
	}
}

.emoji-deer-challenged{

	&:before{
		background-image: url(../img/resources/deer/emoji/challenged.png);
	}
}

.emoji-deer-confused{

	&:before{
		background-image: url(../img/resources/deer/emoji/confused.png);
	}
}

.emoji-deer-excitement{

	&:before{
		background-image: url(../img/resources/deer/emoji/excitement.png);
	}
}

.emoji-deer-happy{

	&:before{
		background-image: url(../img/resources/deer/emoji/happy.png);
	}
}

.emoji-deer-hyped{

	&:before{
		background-image: url(../img/resources/deer/emoji/hyped.png);
	}
}

.emoji-deer-loading{

	&:before{
		background-image: url(../img/resources/deer/emoji/loading.png);
	}
}

.emoji-deer-pleasant{

	&:before{
		background-image: url(../img/resources/deer/emoji/pleasant.png);
	}
}

.emoji-deer-unpleasant{

	&:before{
		background-image: url(../img/resources/deer/emoji/unpleasant.png);
	}
}

.emoji-deer-zen{

	&:before{
		background-image: url(../img/resources/deer/emoji/zen.png);
	}
}

.sticker-deer-angry{

	&:before{
		background-image: url(../img/resources/deer/sticker/angry.png);
	}
}

.sticker-deer-angry2{

	&:before{
		background-image: url(../img/resources/deer/sticker/angry2.png);
	}
}

.sticker-deer-freeze{

	&:before{
		background-image: url(../img/resources/deer/sticker/freeze.png);
	}
}

.sticker-deer-happy{

	&:before{
		background-image: url(../img/resources/deer/sticker/happy.png);
	}
}

.sticker-deer-hi{

	&:before{
		background-image: url(../img/resources/deer/sticker/hi.png);
	}
}

.sticker-deer-impatient{

	&:before{
		background-image: url(../img/resources/deer/sticker/impatient.png);
	}
}

.sticker-deer-love{

	&:before{
		background-image: url(../img/resources/deer/sticker/love.png);
	}
}

.sticker-deer-no{

	&:before{
		background-image: url(../img/resources/deer/sticker/no.png);
	}
}

.sticker-deer-ok{

	&:before{
		background-image: url(../img/resources/deer/sticker/ok.png);
	}
}

.sticker-deer-scared{

	&:before{
		background-image: url(../img/resources/deer/sticker/scared.png);
	}
}

.sticker-deer-shy{

	&:before{
		background-image: url(../img/resources/deer/sticker/shy.png);
	}
}

.sticker-deer-shy2{

	&:before{
		background-image: url(../img/resources/deer/sticker/shy2.png);
	}
}

.sticker-deer-sick{

	&:before{
		background-image: url(../img/resources/deer/sticker/sick.png);
	}
}

.sticker-deer-sorry{

	&:before{
		background-image: url(../img/resources/deer/sticker/sorry.png);
	}
}

.sticker-deer-sweet-love{

	&:before{
		background-image: url(../img/resources/deer/sticker/sweet-love.png);
	}
}

/* END OF DEER */

/* DOUGHNUT */

.emoji-doughnut-anxious{

	&:before{
		background-image: url(../img/resources/doughnut/emoji/anxious.png);
	}
}

.emoji-doughnut-calm{

	&:before{
		background-image: url(../img/resources/doughnut/emoji/calm.png);
	}
}

.emoji-doughnut-challenged{

	&:before{
		background-image: url(../img/resources/doughnut/emoji/challenged.png);
	}
}

.emoji-doughnut-confused{

	&:before{
		background-image: url(../img/resources/doughnut/emoji/confused.png);
	}
}

.emoji-doughnut-excitement{

	&:before{
		background-image: url(../img/resources/doughnut/emoji/excitement.png);
	}
}

.emoji-doughnut-happy{

	&:before{
		background-image: url(../img/resources/doughnut/emoji/happy.png);
	}
}

.emoji-doughnut-hyped{

	&:before{
		background-image: url(../img/resources/doughnut/emoji/hyped.png);
	}
}

.emoji-doughnut-loading{

	&:before{
		background-image: url(../img/resources/doughnut/emoji/loading.png);
	}
}

.emoji-doughnut-pleasant{

	&:before{
		background-image: url(../img/resources/doughnut/emoji/pleasant.png);
	}
}

.emoji-doughnut-unpleasant{

	&:before{
		background-image: url(../img/resources/doughnut/emoji/unpleasant.png);
	}
}

.emoji-doughnut-zen{

	&:before{
		background-image: url(../img/resources/doughnut/emoji/zen.png);
	}
}

.sticker-doughnut-amazement{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/amazement.png);
	}
}

.sticker-doughnut-angry{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/angry.png);
	}
}

.sticker-doughnut-embarrassed{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/embarrassed.png);
	}
}

.sticker-doughnut-fun{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/fun.png);
	}
}

.sticker-doughnut-hot{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/hot.png);
	}
}

.sticker-doughnut-imaginative{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/imaginative.png);
	}
}

.sticker-doughnut-i-see{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/i-see.png);
	}
}

.sticker-doughnut-leftout{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/leftout.png);
	}
}

.sticker-doughnut-melancholic{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/melancholic.png);
	}
}

.sticker-doughnut-nervous{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/nervous.png);
	}
}

.sticker-doughnut-regret{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/regret.png);
	}
}

.sticker-doughnut-remorse{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/remorse.png);
	}
}

.sticker-doughnut-shock{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/shock.png);
	}
}

.sticker-doughnut-stupefied{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/stupefied.png);
	}
}

.sticker-doughnut-tired{

	&:before{
		background-image: url(../img/resources/doughnut/sticker/tired.png);
	}
}

/* END OF DOUGHNUT */

/* GUMMY BEAR */

.emoji-gummybear-anxious{

	&:before{
		background-image: url(../img/resources/gummybear/emoji/anxious.png);
	}
}

.emoji-gummybear-calm{

	&:before{
		background-image: url(../img/resources/gummybear/emoji/calm.png);
	}
}

.emoji-gummybear-challenged{

	&:before{
		background-image: url(../img/resources/gummybear/emoji/challenged.png);
	}
}

.emoji-gummybear-confused{

	&:before{
		background-image: url(../img/resources/gummybear/emoji/confused.png);
	}
}

.emoji-gummybear-excitement{

	&:before{
		background-image: url(../img/resources/gummybear/emoji/excitement.png);
	}
}

.emoji-gummybear-happy{

	&:before{
		background-image: url(../img/resources/gummybear/emoji/happy.png);
	}
}

.emoji-gummybear-hyped{

	&:before{
		background-image: url(../img/resources/gummybear/emoji/hyped.png);
	}
}

.emoji-gummybear-loading{

	&:before{
		background-image: url(../img/resources/gummybear/emoji/loading.png);
	}
}

.emoji-gummybear-pleasant{

	&:before{
		background-image: url(../img/resources/gummybear/emoji/pleasant.png);
	}
}

.emoji-gummybear-unpleasant{

	&:before{
		background-image: url(../img/resources/gummybear/emoji/unpleasant.png);
	}
}

.emoji-gummybear-zen{

	&:before{
		background-image: url(../img/resources/gummybear/emoji/zen.png);
	}
}

.sticker-gummybear-afraid{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/afraid.png);
	}
}

.sticker-gummybear-angry{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/angry.png);
	}
}

.sticker-gummybear-bye{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/bye.png);
	}
}

.sticker-gummybear-embarrassed{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/embarrassed.png);
	}
}

.sticker-gummybear-fail{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/fail.png);
	}
}

.sticker-gummybear-fear{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/fear.png);
	}
}

.sticker-gummybear-full{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/full.png);
	}
}

.sticker-gummybear-funny{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/funny.png);
	}
}

.sticker-gummybear-got-me-eyes-on-you{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/got-me-eyes-on-you.png);
	}
}

.sticker-gummybear-listening{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/listening.png);
	}
}

.sticker-gummybear-love-at-first-sight{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/love-at-first-sight.png);
	}
}

.sticker-gummybear-snigger{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/snigger.png);
	}
}

.sticker-gummybear-wander{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/wander.png);
	}
}

.sticker-gummybear-wicked{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/wicked.png);
	}
}

.sticker-gummybear-wonder{

	&:before{
		background-image: url(../img/resources/gummybear/sticker/wonder.png);
	}
}

/* END OF GUMMY BEAR */

/* HOTDOG */

.emoji-hotdog-anxious{

	&:before{
		background-image: url(../img/resources/hotdog/emoji/anxious.png);
	}
}

.emoji-hotdog-calm{

	&:before{
		background-image: url(../img/resources/hotdog/emoji/calm.png);
	}
}

.emoji-hotdog-challenged{

	&:before{
		background-image: url(../img/resources/hotdog/emoji/challenged.png);
	}
}

.emoji-hotdog-confused{

	&:before{
		background-image: url(../img/resources/hotdog/emoji/confused.png);
	}
}

.emoji-hotdog-excitement{

	&:before{
		background-image: url(../img/resources/hotdog/emoji/excitement.png);
	}
}

.emoji-hotdog-happy{

	&:before{
		background-image: url(../img/resources/hotdog/emoji/happy.png);
	}
}

.emoji-hotdog-hyped{

	&:before{
		background-image: url(../img/resources/hotdog/emoji/hyped.png);
	}
}

.emoji-hotdog-loading{

	&:before{
		background-image: url(../img/resources/hotdog/emoji/loading.png);
	}
}

.emoji-hotdog-pleasant{

	&:before{
		background-image: url(../img/resources/hotdog/emoji/pleasant.png);
	}
}

.emoji-hotdog-unpleasant{

	&:before{
		background-image: url(../img/resources/hotdog/emoji/unpleasant.png);
	}
}

.emoji-hotdog-zen{

	&:before{
		background-image: url(../img/resources/hotdog/emoji/zen.png);
	}
}

.sticker-hotdog-angry{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/angry.png);
	}
}

.sticker-hotdog-awkward-laugh{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/awkward-laugh.png);
	}
}

.sticker-hotdog-bored{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/bored.png);
	}
}

.sticker-hotdog-crazy{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/crazy.png);
	}
}

.sticker-hotdog-disgusted{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/disgusted.png);
	}
}

.sticker-hotdog-fighting{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/fighting.png);
	}
}

.sticker-hotdog-flips-table{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/flips-table.png);
	}
}

.sticker-hotdog-keep-quiet{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/keep-quiet.png);
	}
}

.sticker-hotdog-kiss{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/kiss.png);
	}
}

.sticker-hotdog-no{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/no.png);
	}
}

.sticker-hotdog-not-pleased{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/not-pleased.png);
	}
}

.sticker-hotdog-ok{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/ok.png);
	}
}

.sticker-hotdog-please{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/please.png);
	}
}

.sticker-hotdog-spying{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/spying.png);
	}
}

.sticker-hotdog-tired{

	&:before{
		background-image: url(../img/resources/hotdog/sticker/tired.png);
	}
}

/* END OF HOTDOG */

/* MASHMALLOW */

.emoji-mashmallow-anxious{

	&:before{
		background-image: url(../img/resources/mashmallow/emoji/anxious.png);
	}
}

.emoji-mashmallow-calm{

	&:before{
		background-image: url(../img/resources/mashmallow/emoji/calm.png);
	}
}

.emoji-mashmallow-challenged{

	&:before{
		background-image: url(../img/resources/mashmallow/emoji/challenged.png);
	}
}

.emoji-mashmallow-confused{

	&:before{
		background-image: url(../img/resources/mashmallow/emoji/confused.png);
	}
}

.emoji-mashmallow-excitement{

	&:before{
		background-image: url(../img/resources/mashmallow/emoji/excitement.png);
	}
}

.emoji-mashmallow-happy{

	&:before{
		background-image: url(../img/resources/mashmallow/emoji/happy.png);
	}
}

.emoji-mashmallow-hyped{

	&:before{
		background-image: url(../img/resources/mashmallow/emoji/hyped.png);
	}
}

.emoji-mashmallow-loading{

	&:before{
		background-image: url(../img/resources/mashmallow/emoji/loading.png);
	}
}

.emoji-mashmallow-pleasant{

	&:before{
		background-image: url(../img/resources/mashmallow/emoji/pleasant.png);
	}
}

.emoji-mashmallow-unpleasant{

	&:before{
		background-image: url(../img/resources/mashmallow/emoji/unpleasant.png);
	}
}

.emoji-mashmallow-zen{

	&:before{
		background-image: url(../img/resources/mashmallow/emoji/zen.png);
	}
}

.sticker-mashmallow-angry{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/angry.png);
	}
}

.sticker-mashmallow-comfortable{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/comfortable.png);
	}
}

.sticker-mashmallow-crowd{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/crowd.png);
	}
}

.sticker-mashmallow-greedy{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/greedy.png);
	}
}

.sticker-mashmallow-hot{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/hot.png);
	}
}

.sticker-mashmallow-mad{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/mad.png);
	}
}

.sticker-mashmallow-melt{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/melt.png);
	}
}

.sticker-mashmallow-plump{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/plump.png);
	}
}

.sticker-mashmallow-smile{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/smile.png);
	}
}

.sticker-mashmallow-sneak{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/sneak.png);
	}
}

.sticker-mashmallow-stare{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/stare.png);
	}
}

.sticker-mashmallow-strong{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/strong.png);
	}
}

.sticker-mashmallow-sweet{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/sweet.png);
	}
}

.sticker-mashmallow-twinkle{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/twinkle.png);
	}
}

.sticker-mashmallow-unhappy{

	&:before{
		background-image: url(../img/resources/mashmallow/sticker/unhappy.png);
	}
}

/* END OF MASHMALLOW */

/* PANCAKE */

.emoji-pancake-anxious{

	&:before{
		background-image: url(../img/resources/pancake/emoji/anxious.png);
	}
}

.emoji-pancake-calm{

	&:before{
		background-image: url(../img/resources/pancake/emoji/calm.png);
	}
}

.emoji-pancake-challenged{

	&:before{
		background-image: url(../img/resources/pancake/emoji/challenged.png);
	}
}

.emoji-pancake-confused{

	&:before{
		background-image: url(../img/resources/pancake/emoji/confused.png);
	}
}

.emoji-pancake-excitement{

	&:before{
		background-image: url(../img/resources/pancake/emoji/excitement.png);
	}
}

.emoji-pancake-happy{

	&:before{
		background-image: url(../img/resources/pancake/emoji/happy.png);
	}
}

.emoji-pancake-hyped{

	&:before{
		background-image: url(../img/resources/pancake/emoji/hyped.png);
	}
}

.emoji-pancake-loading{

	&:before{
		background-image: url(../img/resources/pancake/emoji/loading.png);
	}
}

.emoji-pancake-pleasant{

	&:before{
		background-image: url(../img/resources/pancake/emoji/pleasant.png);
	}
}

.emoji-pancake-unpleasant{

	&:before{
		background-image: url(../img/resources/pancake/emoji/unpleasant.png);
	}
}

.emoji-pancake-zen{

	&:before{
		background-image: url(../img/resources/pancake/emoji/zen.png);
	}
}

.sticker-pancake-angry{

	&:before{
		background-image: url(../img/resources/pancake/sticker/angry.png);
	}
}

.sticker-pancake-begging{

	&:before{
		background-image: url(../img/resources/pancake/sticker/begging.png);
	}
}

.sticker-pancake-blessed{

	&:before{
		background-image: url(../img/resources/pancake/sticker/blessed.png);
	}
}

.sticker-pancake-furious{

	&:before{
		background-image: url(../img/resources/pancake/sticker/furious.png);
	}
}

.sticker-pancake-hello{

	&:before{
		background-image: url(../img/resources/pancake/sticker/hello.png);
	}
}

.sticker-pancake-hug{

	&:before{
		background-image: url(../img/resources/pancake/sticker/hug.png);
	}
}

.sticker-pancake-impatient{

	&:before{
		background-image: url(../img/resources/pancake/sticker/impatient.png);
	}
}

.sticker-pancake-in-love{

	&:before{
		background-image: url(../img/resources/pancake/sticker/in-love.png);
	}
}

.sticker-pancake-irritated{

	&:before{
		background-image: url(../img/resources/pancake/sticker/irritated.png);
	}
}

.sticker-pancake-mad{

	&:before{
		background-image: url(../img/resources/pancake/sticker/mad.png);
	}
}

.sticker-pancake-romantic{

	&:before{
		background-image: url(../img/resources/pancake/sticker/romantic.png);
	}
}

.sticker-pancake-terrified{

	&:before{
		background-image: url(../img/resources/pancake/sticker/terrified.png);
	}
}

.sticker-pancake-thankful{

	&:before{
		background-image: url(../img/resources/pancake/sticker/thankful.png);
	}
}

.sticker-pancake-uncontented{

	&:before{
		background-image: url(../img/resources/pancake/sticker/uncontented.png);
	}
}

.sticker-pancake-upset{

	&:before{
		background-image: url(../img/resources/pancake/sticker/upset.png);
	}
}

/* END OF PANCAKE */

/*  REGULAR */

.emoji-regular-anxious{

	&:before{
		background-image: url(../img/resources/regular/emoji/anxious.png);
	}
}

.emoji-regular-calm{

	&:before{
		background-image: url(../img/resources/regular/emoji/calm.png);
	}
}

.emoji-regular-challenged{

	&:before{
		background-image: url(../img/resources/regular/emoji/challenged.png);
	}
}

.emoji-regular-confused{

	&:before{
		background-image: url(../img/resources/regular/emoji/confused.png);
	}
}

.emoji-regular-excitement{

	&:before{
		background-image: url(../img/resources/regular/emoji/excitement.png);
	}
}

.emoji-regular-happy{

	&:before{
		background-image: url(../img/resources/regular/emoji/happy.png);
	}
}

.emoji-regular-hyped{

	&:before{
		background-image: url(../img/resources/regular/emoji/hyped.png);
	}
}

.emoji-regular-loading{

	&:before{
		background-image: url(../img/resources/regular/emoji/loading.png);
	}
}

.emoji-regular-pleasant{

	&:before{
		background-image: url(../img/resources/regular/emoji/pleasant.png);
	}
}

.emoji-regular-unpleasant{

	&:before{
		background-image: url(../img/resources/regular/emoji/unpleasant.png);
	}
}

.emoji-regular-zen{

	&:before{
		background-image: url(../img/resources/regular/emoji/zen.png);
	}
}

.sticker-regular-about-to-cry{

	&:before{
		background-image: url(../img/resources/regular/sticker/about-to-cry.png);
	}
}

.sticker-regular-adore{

	&:before{
		background-image: url(../img/resources/regular/sticker/adore.png);
	}
}

.sticker-regular-aghast{

	&:before{
		background-image: url(../img/resources/regular/sticker/aghast.png);
	}
}

.sticker-regular-bored{

	&:before{
		background-image: url(../img/resources/regular/sticker/bored.png);
	}
}

.sticker-regular-brokenhearted{

	&:before{
		background-image: url(../img/resources/regular/sticker/brokenhearted.png);
	}
}

.sticker-regular-comfortable{

	&:before{
		background-image: url(../img/resources/regular/sticker/comfortable.png);
	}
}

.sticker-regular-furious{

	&:before{
		background-image: url(../img/resources/regular/sticker/furious.png);
	}
}

.sticker-regular-irritated{

	&:before{
		background-image: url(../img/resources/regular/sticker/irritated.png);
	}
}

.sticker-regular-mad{

	&:before{
		background-image: url(../img/resources/regular/sticker/mad.png);
	}
}

.sticker-regular-nervous{

	&:before{
		background-image: url(../img/resources/regular/sticker/nervous.png);
	}
}

.sticker-regular-okflirt{

	&:before{
		background-image: url(../img/resources/regular/sticker/okflirt.png);
	}
}

.sticker-regular-pity{

	&:before{
		background-image: url(../img/resources/regular/sticker/pity.png);
	}
}

.sticker-regular-shocked{

	&:before{
		background-image: url(../img/resources/regular/sticker/shocked.png);
	}
}

.sticker-regular-tired{

	&:before{
		background-image: url(../img/resources/regular/sticker/tired.png);
	}
}

.sticker-regular-twiiterpated{

	&:before{
		background-image: url(../img/resources/regular/sticker/twiiterpated.png);
	}
}

/* END OF REGULAR */

/* WHACKY */

.emoji-whacky-anxious{

	&:before{
		background-image: url(../img/resources/whacky/emoji/anxious.png);
	}
}

.emoji-whacky-calm{

	&:before{
		background-image: url(../img/resources/whacky/emoji/calm.png);
	}
}

.emoji-whacky-challenged{

	&:before{
		background-image: url(../img/resources/whacky/emoji/challenged.png);
	}
}

.emoji-whacky-confused{

	&:before{
		background-image: url(../img/resources/whacky/emoji/confused.png);
	}
}

.emoji-whacky-excitement{

	&:before{
		background-image: url(../img/resources/whacky/emoji/excitement.png);
	}
}

.emoji-whacky-happy{

	&:before{
		background-image: url(../img/resources/whacky/emoji/happy.png);
	}
}

.emoji-whacky-hyped{

	&:before{
		background-image: url(../img/resources/whacky/emoji/hyped.png);
	}
}

.emoji-whacky-loading{

	&:before{
		background-image: url(../img/resources/whacky/emoji/loading.png);
	}
}

.emoji-whacky-pleasant{

	&:before{
		background-image: url(../img/resources/whacky/emoji/pleasant.png);
	}
}

.emoji-whacky-unpleasant{

	&:before{
		background-image: url(../img/resources/whacky/emoji/unpleasant.png);
	}
}

.emoji-whacky-zen{

	&:before{
		background-image: url(../img/resources/whacky/emoji/zen.png);
	}
}

.sticker-whacky-angry{

	&:before{
		background-image: url(../img/resources/whacky/sticker/angry.png);
	}
}

.sticker-whacky-blue{

	&:before{
		background-image: url(../img/resources/whacky/sticker/blue.png);
	}
}

.sticker-whacky-cheerful{

	&:before{
		background-image: url(../img/resources/whacky/sticker/cheerful.png);
	}
}

.sticker-whacky-comfortable{

	&:before{
		background-image: url(../img/resources/whacky/sticker/comfortable.png);
	}
}

.sticker-whacky-confident{

	&:before{
		background-image: url(../img/resources/whacky/sticker/confident.png);
	}
}

.sticker-whacky-ecstatic{

	&:before{
		background-image: url(../img/resources/whacky/sticker/ecstatic.png);
	}
}

.sticker-whacky-hungry{

	&:before{
		background-image: url(../img/resources/whacky/sticker/hungry.png);
	}
}

.sticker-whacky-lazy{

	&:before{
		background-image: url(../img/resources/whacky/sticker/lazy.png);
	}
}

.sticker-whacky-mad{

	&:before{
		background-image: url(../img/resources/whacky/sticker/mad.png);
	}
}

.sticker-whacky-pretend{

	&:before{
		background-image: url(../img/resources/whacky/sticker/pretend.png);
	}
}

.sticker-whacky-shake{

	&:before{
		background-image: url(../img/resources/whacky/sticker/shake.png);
	}
}

.sticker-whacky-sweet{

	&:before{
		background-image: url(../img/resources/whacky/sticker/sweet.png);
	}
}

.sticker-whacky-throw{

	&:before{
		background-image: url(../img/resources/whacky/sticker/throw.png);
	}
}

.sticker-whacky-upset{

	&:before{
		background-image: url(../img/resources/whacky/sticker/upset.png);
	}
}

.sticker-whacky-yay{

	&:before{
		background-image: url(../img/resources/whacky/sticker/yay.png);
	}
}

/* END OF WHACKY */

/* YOGA BEAR */

.emoji-yogabear-anxious{

	&:before{
		background-image: url(../img/resources/yogabear/emoji/anxious.png);
	}
}

.emoji-yogabear-calm{

	&:before{
		background-image: url(../img/resources/yogabear/emoji/calm.png);
	}
}

.emoji-yogabear-challenged{

	&:before{
		background-image: url(../img/resources/yogabear/emoji/challenged.png);
	}
}

.emoji-yogabear-confused{

	&:before{
		background-image: url(../img/resources/yogabear/emoji/confused.png);
	}
}

.emoji-yogabear-excitement{

	&:before{
		background-image: url(../img/resources/yogabear/emoji/excitement.png);
	}
}

.emoji-yogabear-happy{

	&:before{
		background-image: url(../img/resources/yogabear/emoji/happy.png);
	}
}

.emoji-yogabear-hyped{

	&:before{
		background-image: url(../img/resources/yogabear/emoji/hyped.png);
	}
}

.emoji-yogabear-loading{

	&:before{
		background-image: url(../img/resources/yogabear/emoji/loading.png);
	}
}

.emoji-yogabear-pleasant{

	&:before{
		background-image: url(../img/resources/yogabear/emoji/pleasant.png);
	}
}

.emoji-yogabear-unpleasant{

	&:before{
		background-image: url(../img/resources/yogabear/emoji/unpleasant.png);
	}
}

.emoji-yogabear-zen{

	&:before{
		background-image: url(../img/resources/yogabear/emoji/zen.png);
	}
}

.sticker-yogabear-eat{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/eat.png);
	}
}

.sticker-yogabear-hold{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/hold.png);
	}
}

.sticker-yogabear-look{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/look.png);
	}
}

.sticker-yogabear-mad{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/mad.png);
	}
}

.sticker-yogabear-raise{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/raise.png);
	}
}

.sticker-yogabear-relax{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/relax.png);
	}
}

.sticker-yogabear-satisfy{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/satisfy.png);
	}
}

.sticker-yogabear-see{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/see.png);
	}
}

.sticker-yogabear-sleep{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/sleep.png);
	}
}

.sticker-yogabear-speechless{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/speechless.png);
	}
}

.sticker-yogabear-sweet{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/sweet.png);
	}
}

.sticker-yogabear-swim{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/swim.png);
	}
}

.sticker-yogabear-think{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/think.png);
	}
}

.sticker-yogabear-tired{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/tired.png);
	}
}

.sticker-yogabear-want{

	&:before{
		background-image: url(../img/resources/yogabear/sticker/want.png);
	}
}

/* END OF YOGA BEAR */

/* YOGA GIRL */

.emoji-yogagirl-anxious{

	&:before{
		background-image: url(../img/resources/yogagirl/emoji/anxious.png);
	}
}

.emoji-yogagirl-calm{

	&:before{
		background-image: url(../img/resources/yogagirl/emoji/calm.png);
	}
}

.emoji-yogagirl-challenged{

	&:before{
		background-image: url(../img/resources/yogagirl/emoji/challenged.png);
	}
}

.emoji-yogagirl-confused{

	&:before{
		background-image: url(../img/resources/yogagirl/emoji/confused.png);
	}
}

.emoji-yogagirl-excitement{

	&:before{
		background-image: url(../img/resources/yogagirl/emoji/excitement.png);
	}
}

.emoji-yogagirl-happy{

	&:before{
		background-image: url(../img/resources/yogagirl/emoji/happy.png);
	}
}

.emoji-yogagirl-hyped{

	&:before{
		background-image: url(../img/resources/yogagirl/emoji/hyped.png);
	}
}

.emoji-yogagirl-loading{

	&:before{
		background-image: url(../img/resources/yogagirl/emoji/loading.png);
	}
}

.emoji-yogagirl-pleasant{

	&:before{
		background-image: url(../img/resources/yogagirl/emoji/pleasant.png);
	}
}

.emoji-yogagirl-unpleasant{

	&:before{
		background-image: url(../img/resources/yogagirl/emoji/unpleasant.png);
	}
}

.emoji-yogagirl-zen{

	&:before{
		background-image: url(../img/resources/yogagirl/emoji/zen.png);
	}
}

.sticker-yogagirl-angry{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/angry.png);
	}
}

.sticker-yogagirl-bored{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/bored.png);
	}
}

.sticker-yogagirl-congratulations{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/congratulations.png);
	}
}

.sticker-yogagirl-dance{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/dance.png);
	}
}

.sticker-yogagirl-dance2{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/dance2.png);
	}
}

.sticker-yogagirl-depressed{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/depressed.png);
	}
}

.sticker-yogagirl-embarrassed{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/embarrassed.png);
	}
}

.sticker-yogagirl-hands-up{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/hands-up.png);
	}
}

.sticker-yogagirl-hungry{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/hungry.png);
	}
}

.sticker-yogagirl-impatient{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/impatient.png);
	}
}

.sticker-yogagirl-lazy{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/lazy.png);
	}
}

.sticker-yogagirl-love{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/love.png);
	}
}

.sticker-yogagirl-rush{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/rush.png);
	}
}

.sticker-yogagirl-sleep{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/sleep.png);
	}
}

.sticker-yogagirl-sleepy{

	&:before{
		background-image: url(../img/resources/yogagirl/sticker/sleepy.png);
	}
}

/* END OF YOGA GIRL */

// EMOJIS FOR CALENDAR

// END OF ICONS