@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700");
@import "variables";
@import "icons";
@import "global";
@import "scroll";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  color: $text-color;
  font-size: $font-size-base;
  font-family: $font-family;
  background-color: #EFEFEF;
}

.bg{
  background: url('../img/bg.png') no-repeat center center fixed;
  background-size: cover;
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}

.center {
   width: 500px;
   height: 500px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -250px;
   margin-top: -250px;
   text-align: center;
}

.logo{
  margin-bottom: 20px;
}

.login{
  width: 500px;
  margin: 0px auto;

  &.reset{
    h3{
      margin-bottom: 20px;
    }
    p{
      font-size: 14px;
    }

    .btn-link{
      text-align: center;
      text-decoration: underline;
    }
  }
  
  .form{
    width: 364px;
    margin: 0px auto;
    margin-top: 20px;
    position: relative;

    .form-group{
      position: relative;
      margin: 20px 0;

      label{
        font-weight: 400;
      }

      i.ic{
        position: absolute;
      }

      i.ic-email{
        background: url('../img/ic_email.png') no-repeat; 
        padding: 6px 8px;
        top: 40px;
        left: 12px;
      }

      i.ic-password{
        background: url('../img/ic_password.png') no-repeat;
        padding: 11px 8px;
        top: 32px;
        left: 12px;
      }

      i.ic-error{
        background: url('../img/ic_error.png') no-repeat;
        padding: 10px;
        top: 35px;
        right: 12px;
        display: none;
        transition: 200ms ease-in-out all;
      }

      i.ic-warn{
        background: url('../img/ic_warn.png') no-repeat;
        padding: 10px;
        position: relative;
        margin-right: 10px;
      }

      input.form-control{
        border-radius: 2px;
        border: 1px #BCBDBD solid;
        background: #ffffff;
        color: #95989A;
        font-size: 12px;
        padding-left: 40px;
        height: 40px;
      }

      span.decrypt{
        color: #4183D7;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        right: 10px;
        position: absolute;
        top: 35px;
        cursor: pointer;
      }

      &.has-error{
        input.form-control{
          border: 3px #E74C3C solid;
        }

        i.ic-error{
          display: block;
        }
      }

      input.form-control::placeholder {
        color: #95989A;
        font-size: 12px;
      }

      .btn-link{
        color: #FFFFFF;
        font-weight: 300;
      }

      .btn{
        border-radius: 2px;
        border: 3px #FFFFFF solid;
        background: transparent;
        transition: 200ms ease-in-out all;
        height: 50px;
        font-size: 16px;
        
        &:hover{
          border: 3px #65CE96 solid;
          background: #65CE96;
        }
      }

      &.alert{
        border-radius: 5px;
        align-items: center;
        font-weight: 300;
        transition: 300ms ease-in-out all;
        padding: 10px;
        display: none;
        background: #EE8176;
        border: 1px #D43F2E solid;
        position: relative;

        &.has-error,
        &.has-notif{
          display: flex;
        }
        
        &.notif{
          border: 1px #FEE78C solid;
          background: #FAEDB7;
          
          p{
            font-style: italic;
            color: #1E1E1E;
          }

          span{
            color: #E74C3C;
            position: absolute;
            right: 10px;
            opacity: 1;
            font-size: 16px;
            font-weight: 400;
            top: 7px;
            cursor: pointer;
          }
        }

        span.msg{
          font-style: italic;
        }
      }

    }
  }
}

.upmood-logo{
  width: 178px;
  height: 53px;
  background-image: url('../img/ic_upmood.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 28px;
  margin-top: 24px;
  margin-bottom: 59px;
  transition: 0.2s ease-in-out all;
  cursor: pointer;

  &:hover{
    transform: scale(1.05);
  }
}

.main-container{
  min-width: 1270px;
  position: relative;
  margin-left: 250px;

  .main-header{
    background: #fff;
    height: 80px;
    box-sizing: border-box;
    position: relative;

    .title{
      color: #000;
      font-size: 30px;
      font-weight: 400;
      display: inline-block;
      margin-top: 12px;
      margin-left: 39px;
    }

    .header-right{
      top: 0px;
      right: 50px;
      display: inline-block;
      position: absolute;
      padding-top: 15px;
      box-sizing: border-box;

       .notification{
          height: 50px;
          width: 50px;
          display: inline-block;
          position: relative;
          float: left;
          cursor: pointer;

          .notification-count{
              text-align: center;
              display: inline-block;
              position: absolute;
              top: 2px;
              left: 0px;
              height: 20px;
              width: 20px;
              background-color: #00ffa8;
              font-size: 12px;
              font-weight: 400;
              color: #000000;
              border-radius:150px;
              line-height: 22px;
          }
       }

      .profile{
        height: 50px;
        width: 50px;
        overflow:hidden;
        border-radius: 150px;
        float: left;
        cursor: pointer;

          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
      }
    }
  }

  .main-content{
    
  }
}

.sidenav{
  background: #333333;
  display: inline-block;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1049;

  ul{
    padding:0px;
    list-style:none;
    font-weight: 300;
    font-size: 18px;

    li{
      transition: 0.2s ease-in-out all;
      box-sizing: border-box;
      border-left: 10px solid;
      padding-top: 15px;
      padding-bottom: 15px;
      border-color: transparent;

      a{
        margin-left: 28px;
        display: inline-block;
        color: #fff;

        &:hover{
          color: #fff;
          text-decoration: none;
        }
      }

      &:hover{
        border-color: #BCCB87;
      }
    }
  }
}

.dashboard-wrapper{
  @extend .main-content-container;
  margin-top: 40px;

  .row{
      .col-md-4{
          padding-left: 0px;
          display: inline-block !important;
          width: 33.3% !important;
          float: left !important;
          padding-right: 20px;

          &:last-child{
            padding-right: 0px;
          }
      }

      .col-md-6{
          float: left !important;
          width: 50% !important;

          &:first-child{
              padding-left: 0px;
          }

          &:last-child{
            padding-right: 0px;
          }
      }

  }

  .dashboard-cards{

      .card{
          border-radius: 5px;
          height: 150px;
          color: #fff;
          box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.16);

          .card-title{
              @extend .text-center;
              font-size: 22px;
              padding-top: 25px;
          }

          .card-value{
            @extend .text-center;
            font-size: 40px;
            font-weight: 600;
          }

          &.card-yellow{
            background-color: #D6B832;
          }

          &.card-red{
            background-color: #E74C3C;
          }

          &.card-blue{
            background-color: #4183D7;
          }
      }
  }

  .dashboard-panel{
    background: #fff;
    border-radius: 5px;
    border-top:  5px solid #27AE60;
    box-sizing: border-box;
    padding: 20px 30px 20px 30px;
    height: 421px;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.16);

    .panel-title{
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 30px;
      position: relative;

      &:after{
        content:'';
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color:#BDBDBD;
        top: 33px;
        left: 0px;
        position: absolute;
      }
    }

    .table-population{

      thead{

        th{
          margin-bottom: none;
          border:none;
          text-align: center;
          font-size: 11px;
          font-weight: 400;
          padding: 15px 10px 15px 10px;
          background: #fff;
          color: #000 !important;

          &:first-child{
            text-align: left;
          }
        }
      }

      tbody{

        tr{
          background:#F0F0F0;

          td{
            text-align: center;
            border: none;

            &:first-child{
              text-align: left;
            }
          }

          &:nth-child(2n){
            background: #FFFFFF;
          }

          &:hover{
              background: darken(#F0F0F0,2%);
          }
        }
      }
    }

    .scrollbar-outer{

        &.dashboard-population-table{
          height: 295px;
        }

        &.dashboard-cancellation-table{
          height: 295px;
        }

        &.dashboard-inquiries-table{
          height: 295px;
        }

        &.dashboard-reports-table{
          height: 295px;
        }
    }

    .listview-row{
        padding: 10px 15px 10px 15px;
        position: relative;

        .listview-title{
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #1E1E1E;
        }

        .listview-time{
            position: absolute;
            top: 15px;
            right: 22px;
            width: 353px;
            text-align: right;
            overflow: hidden;
            color: #DBDBDB;
            font-size: 11px;
            font-weight: 300;
        }

        .listview-content{
            font-size: 11px;
            font-weight: 300;
            color: #1E1E1E;
        }

        &:hover{
          background: darken(#F0F0F0,2%);
        }
    }
  }
}

.users-wrapper{
  @extend .main-content-container;
  margin-top: 40px;

  .users-table-wrapper{

    .users-table{

      thead{


          th{
              text-align: center;
              padding: 10px;
              background-color: #16A085;
              font-size: 12px;
              font-weight: 600;
              color: #fff;
              padding-right: 5px;

              &:first-child{
                  border-top-left-radius: 5px;
                  padding-left: 15px;
                  text-align: left;
              }

              &:last-child{
                  border-top-right-radius: 5px;
                  padding-left: 15px;
              }
          }
      }

      tbody{

        tr{
          background-color: #F2F2F2;

          &:nth-child(2n){
            background-color: #fff;
          }



          td{
            line-height: 3;
            text-align: center;

            &:first-child{
              line-height: 1;
              text-align: left;
            }

            .table-profile-image{
              height: 40px;
              width: 40px;
              border-radius: 150px;
              overflow: hidden;

              img{
                height: 100%;
                width: 100%;
              }
            }

            .status-online{
              font-weight: 700;
              color: #FBBD08;
            }

            .status-offline{
              font-weight: 700;
              color: #DB2828;
            }
          }
        }
      }
    }

    .pagination{
        @extend .content-center;
        width: 400px;
        margin-bottom: 25px;
        text-align: center;

        a{
          transition: 0.2s ease-in-out all;
          display: inline-block;
          border: 1px solid #A0AC76;
          font-size: 12px;
          color: #FFFFFF;
          padding: 7px 10px 7px 10px;
          border-radius: 5px;

          &:hover{
            text-decoration: none;
            cursor: pointer;
            background-color:darken(#BCCB87,5%);
            border: 1px solid #A0AC76;
          }
        }

        .prev{
          display: inline-block;
          background-color:#BCCB87;
          border: 1px solid #A0AC76;
          color: #FFFFFF;
          margin-right: 5px;
        }

        .pagination-number{
            display: inline-block;

            a{
              transition: 0.2s ease-in-out all;
              background-color: #D8D8D8;
              border-color: #CBCBCB;
              margin-right: 5px;
              box-sizing: border-box;

              &.active{
                background-color:#BCCB87;
                border: 1px solid #A0AC76;
              }

              &:hover{
                background-color:darken(#BCCB87,5%);
                border: 1px solid #A0AC76;
              }
            }
        }

        .next{
          display: inline-block;
          background-color:#BCCB87;
        }
    }

    .downloadfile{
      margin-bottom: 15px;
    }

    .filter-wrapper{
        .sort-by-wrapper{
          display: none;
          background-color: #fff;
          position: absolute;
          width: 100%;
          z-index: 999;
          box-shadow: 0px 3px 6px rgba(0,0,0,0.16);

          .order-sort{

            &:before{
                @extend .content-center;
                content:'';
                height: 1px;
                width: 90%;
                border-top: 1px solid #BCBDBD;
                margin-top: 5px;
                margin-bottom: 5px;
            }
          }

          .form-group{
              transition: 0.3s ease-out all;
              padding-left: 10px;
              padding-right: 10px;
              padding-top:2px;
              padding-bottom: 2px;
              
              &:hover{
                  background-color: #BCCB87;
                  
                  .radio-label{
                    color: #fff !important;
                    display: inline-block;
                  }
              }

              input[type="radio"]{
              appearance: none;
              height: 20px;
              width: 20px;
              background-color:transparent;
              margin-right: 10px;
              position: relative;
              border:none;

              &:before{
                content:'';
                transition: 0.3s ease-out all;
                background-image: none;
              }

              &:checked{
                  
                  &:before{
                      position: absolute;
                      top: 0px;
                      left: 0px;
                      width: 100%;
                      height: 100%;
                      background-image: url(../img/ic_check_contacts.png);
                      background-repeat: no-repeat;
                      background-size: cover;
                  }
              }
            }

            .radio-label{
              position: relative;
              top: -5px;
              display: inline-block;
              font-size: 12px;
              font-weight: 400;
            }
          }
        }

        form{

            label{
                color: #696969;
                font-size: 14px;
                font-weight: 400;
                display: block;
            }

            input{
              font-size: 12px;
              font-weight: 300;
              border: 1px solid #BCBDBD;
              border-radius: 2px;

              &::placeholder{
                color:#9E9E9E;
              }
            }

            select{
              font-size: 12px;
              font-weight: 300;
              border: 1px solid #BCBDBD;
              border-radius: 2px;

              option{
                padding: 0px;
              }

              &::placeholder{
                color:#9E9E9E;
              }
            }

            .basic-filter{
              .col-md-6{
                padding: 0px;
                padding-right: 10px;
              }

              .col-md-4{
                padding: 0px;
              }

              .col-md-2{
                padding:0px;
              }

              .half-input{
                width: 48%;
                float: left;
                margin-right: 2%;

                &:last-child{
                  margin-right: 0px;
                }
              }

              .form-group{
                margin-bottom: 0px;
              }
            }

            .filter-right-menu{
                margin-top: 8px;
                margin-bottom: 8px;
                text-align: right;
                display: block;
                color: #1F8CD9;
                font-size: 12px;
                font-weight: 400;

                li{
                  display: inline-block;
                  padding-right: 10px;
                  position: relative;

                  &:after{
                      content:'';
                      display: inline-block;
                      height: 15px;
                      width: 1px;
                      background-color: #1E1E1E;
                      top: 3px;
                      right: 3px;
                      position: absolute;
                  }

                  &:nth-child(2){
                    padding-left:0px;
                    padding-right: 10px;
                  }

                  &:last-child{
                    &:after{
                      display: none;
                    }
                  }
                }
            }

            .advance-filter{
                margin-bottom: 15px;
                position: relative;
                top: 20px;

                .advance-filter-input{
                  height: 0px;
                }

                .advance-filter-row{

                      label{
                        line-height: 33px;
                      }

                    .filter-width{
                      @extend .col-md-4;
                      width: 33.3;
                      padding: 0px;
                      padding-right: 10px;
                      margin-bottom: 25px;

                      &:nth-child(3){
                        padding-right:0px;
                      }
                    }

                    .filter-close{
                      direction: inline-block;
                      position: absolute;
                      top: 6px;
                      right: -9px;
                      opacity: 0.75;
                      height: 20px;
                      width: 20px;

                      &:hover{
                        opacity: 1.0;
                      }
                    }
                }

                
            }

            .scoreboard{
              .advance-card{
                    width: 24%;
                    margin-right: 1.3%;
                    background: #fff;
                    border-radius: 5px; 
                    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
                    height: 100%;
                    padding-right: 20px;
                    overflow:hidden;
                    margin-bottom: 20px;

                    &:last-child{
                      margin-right: 0px;
                    }

                    .advance-card-label{
                      @extend .text-center;
                      color: #9F0000;
                      font-size: 16px;
                      font-weight: 300px;
                      margin-top: 10px;

                      &:before{
                        content: '';
                        background: url(../img/scoreboard_user.png) no-repeat;
                        position: absolute;
                        top: 78px;
                        left: 93px;
                        height: 1px;
                        width: 90px;
                        background-size: 100% 100%;
                      }
                    }

                    .user-value{
                      @extend .text-center;
                      margin-top: 30px;
                      color: #9F0000;
                      font-weight: 600;
                      font-size: 28px;
                    }

                    .gender-value{
                      margin-top: 15px;
                      color: #9F0000;
                      text-align: center;

                      .male{
                        
                        span{
                          font-weight: 300;
                          font-size: 14px;
                        }

                        .male-value{
                          font-weight: 600;
                          font-size: 28px;
                          line-height: 32px;
                        }

                        &.value-center{
                          display:block;
                          text-align:text-center;
                          width: 100% !important;
                        }
                      }

                      .female{
                        
                        span{
                          font-weight: 300;
                          font-size: 14px;
                        }

                        .female-value{
                          font-weight: 600;
                          font-size: 28px;
                          line-height: 32px;
                        }

                        &.value-center{
                          display:block;
                          text-align:text-center;
                          width: 100% !important;
                        }
                      }
                    }

                    .country-value{
                      @extend .user-value;
                    }

                    .meter-value{
                      @extend .user-value;
                    }

                    &:before{
                      content:'';
                      background-color: #e1e1e1;
                      height: 10px;
                      width: 100%;
                      position: absolute;
                      top: 0px;
                      left: 0px;
                    }

                    &.advance-user{
                      &:before{
                        background-color: #4183D7;
                      }
                    }

                    &.advance-gender{

                      .advance-card-label{
                        margin-top: 84px;
                      }

                      &:before{
                        background-color: #95A5A6;
                      }
                    }

                    &.advance-country{
                      &:before{
                        background-color: #E67E22;
                      }
                    }

                    &.advance-meter{
                      &:before{
                        background-color: #E74C3C;
                      }
                    }
                }
            }
        }
    }
  }
}


.messages-wrapper{
  position:relative;
  min-width: 1270px;
  border-top: 1px solid #F9F9F9;

    .messages-nav{
        background-color: #1D232A;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 282px;
        height: calc(100vh - 81px);
        z-index: 1048;
        padding: 15px;

        .compose{
          @extend .content-center;
          width: 230px;
          color: #fff;
          font-size: 16px;
          font-weight: 300;
          padding: 15px;
          margin-bottom: 15px;
        }

        .menu-list{
            @extend .content-center;
            width: 230px;
            list-style: none;
            padding: 0px;

            li{
              transition: 0.2s ease-out all;
              padding: 10px;
              padding-left: 15px;

              &.seperator{
                @extend .content-center;
                height: 1px;
                width: 100%;
                padding: 0px;
                background-color: #FFFFFF;
                width: 201px;
                margin-top: 15px;
                margin-bottom: 15px;
                opacity: 0.5;



                  &:hover{
                    background-color: #fff;
                  }
              }

              &:hover{
                  background-color: #699BD5;
              }

              a{
                display: inline-block;
                width: 100%;
                color: #fff;
                font-size: 14px;
                font-weight: 400;
                text-decoration: none;

                &:hover{
                  text-decoration: none;
                }
              }
            }

        }

    }

    .messages-list{
      position: relative;
      top: 0px;
      left: 282px;
      width: 500px;

      .messages-search-wrapper{
           padding: 15px 20px 15px 20px;

           &:before{
              top: 21px;
              left: 52px;
          }

          .messages-search{
            @extend .content-center;
            width: 420px;
            border-radius: 50px;
            border: 1px solid lighten(#BCBDBD,15%);
            box-shadow: none;
        }
      }

      .messages-row-wrapper{
          height: calc(100vh - 165px);

          ul.message-row-menu{
              list-style: none;
              padding: 0px;

              .messages-row{
                  transition: 0.2s ease-out all;
                  color: #1E1E1E;
                  padding: 20px;
                  padding-left: 30px;

                      .message-header{

                          .col-md-6{
                            padding-left: 0px;
                          }

                          .image-wrapper{
                              height: 46px;
                              width: 46px;
                              border-radius: 150px;
                              overflow: hidden;

                              img{
                                  height: 100%;
                                  width: 100%;
                                  object-fit: cover;
                              }
                          }

                          .name{
                            font-weight: 600;
                            font-size: 16px;
                          }

                          .subject{
                            font-weight: 400;
                            font-size: 14px;
                          }

                          .time{
                            color: #9B9B9B;
                            font-size: 11px;
                            font-weight: 300;
                          }

                  }

                  .message-glance{
                    margin-top: 15px;
                    text-align: justify;
                    color: #AFAFAF;
                    font-weight: 300;
                    font-size: 12px;
                  }

                  &.active{
                    background-color: #fff;
                    box-shadow: 0px 6px 9px rgba(0,0,0,0.16);
                  }

                  &:hover{
                    cursor: pointer;
                  }
              }
          }
      }
    }

    .messages-content{
      padding: 30px;
      min-width: 447px;
      height: calc(100vh - 81px);
      background-color: #fff;
      position: absolute;
      top: 0px;
      left: 782px;
      color: #1E1E1E;
      display: none;

      .message-content-row{
            position:relative;

          .message-header{

              .image-wrapper{
                height: 80px;
                width: 80px;
                border-radius: 150px;
                overflow-y: hidden;
                object-fit: cover;
                margin-right: 15px;

                img{
                  height: 100%;
                  width: 100%;
                }
             }

             .message-to{
                font-size: 16px;
                font-weight: 300;
                display: block;
                margin-bottom: 5px;
             }

             .message-subject{
                font-size: 22px;
                font-weight: 600;
                display: block;
                margin-bottom: 15px;
             }

             .message-timestamp{
                position: absolute;
                top: 5px;
                right: 0px;
                color: #949494;
                text-align: right;
             }
          }

          .content-body{

              .content-row{
                display: block;

                p{
                  margin-left: 95px;
                  text-align: justify;
                  border-bottom: 1px solid #707070;
                  padding-bottom: 30px;
                  font-size: 14px;
                  font-weight: 400;
                }
              }
          }

          &.message-reply{
            padding-left:95px;

            .message-to{
              margin-bottom: 15px;
            }

            .content-body{

              .content-row{

                p{
                  margin-left: 0px;
                }
              }
            }
          }
      }

      .message-reply-input{
          form{
            textarea{
              width: calc(100% - 95px);
              height: 98px;
              resize: none;
              background-color:#F9F9F9;
              color: #1E1E1E;
              font-size: 12px;
              font-weight: 400;
              margin-left: 95px;
              margin-top: 15px;
              border:none;
              padding: 10px;
              margin-bottom: 5px;
            }
          }
      }

      &#compose{

           .compose-wrapper{
                @extend .content-center;
                position:relative;
                width: 600px;

                h2{
                  font-size: 24px;
                  font-weight: 600;
                }

                button{
                  position: absolute;
                  top: 0px;
                  right: 0px;
                }

              #ComposeForm{
                  padding-top: 20px;
                 
                 .form-group{
                    position:relative;

                    label{
                      position: absolute;
                      top: 4px;
                      left: 4px;
                      color: #1E1E1E;
                      font-size: 14px;
                      font-weight: 400;
                    }

                    .form-control{
                        padding-left:30px;
                        background: transparent;
                        border: none;
                        box-shadow: none;
                        border-radius: 0px;
                        border-bottom: 1px solid #707070;
                        min-width: 100%;

                        &[name="email-subject"]{
                          padding-left: 60px;
                        }
                    }

                    textarea{
                        resize: none !important;
                        min-height: 50px;
                        padding-left: 0px;
                        font-weight: 400;
                        font-size: 12px;
                        max-height: 630px;
                    }

                    .bootstrap-tagsinput{
                        padding-left:30px;
                        background: transparent;
                        border: none;
                        box-shadow: none;
                        border-radius: 0px;
                        border-bottom: 1px solid #707070;
                        min-width: 100%;

                        .tag{
                          background-color: #F0F0F0;
                          color: #1E1E1E;
                          font-size: 11px;
                          font-weight: 400;
                          border-radius: 150px;

                          span[data-role="remove"]{
                              color: #E74C3C; 
                          }
                        }
                    }
                 }

                 .compose-suggestion{
                    position: absolute;
                    left: -10px;
                    background: #fff;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    z-index: 1;
                    display: none;
                    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);

                    .suggestion-row{
                        min-height: 40px;
                        cursor: pointer;
                        padding-right: 50px;
                        padding-left: 10px;
                        position: relative;

                        &:hover{
                          background-color: #f7f9f1;
                        }

                        .image-wrapper{
                            float: left;
                            height: 30px;
                            width: 30px;
                            object-fit: cover;
                            overflow:hidden;
                            border-radius: 150px;
                            margin-right: 8px;
                            position: relative;
                            top: 2px;

                            img{
                              height: 100%;
                              width: 100%;
                            }
                        }

                        .suggestion-content{
                          float: left;

                          .suggestion-name{
                            font-size: 12px;
                            font-weight: 400;
                          }

                          .suggestion-email{
                            font-size: 11px;
                            font-weight: 400;
                            line-height: 10px;
                          }
                        }
                    }
                 }

                 .contact-wrapper{
                    min-width: 233px;
                    display: none;
                    position: absolute;
                    right: 0px;
                    background: #fff;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    z-index: 1;
                    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);

                    .contact-search{
                        padding:10px;

                        .ic-search{

                            &:before{
                                left: 8px;
                            }
                        }

                        .contact-search-input{
                            border: 1px solid #BCBDBD;
                            border-radius: 2px;
                        }
                    }

                    .contact-row{
                        min-height: 40px;
                        cursor: pointer;
                        padding-right: 50px;
                        padding-left: 10px;
                        position: relative;

                        &:hover{
                          background-color: #f7f9f1;
                        }

                        .image-wrapper{
                            float: left;
                            height: 30px;
                            width: 30px;
                            object-fit: cover;
                            overflow:hidden;
                            border-radius: 150px;
                            margin-right: 8px;
                            position: relative;
                            top: 2px;

                            img{
                              height: 100%;
                              width: 100%;
                            }
                        }

                        .contact-content{
                          float: left;

                          .contact-name{
                            font-size: 12px;
                            font-weight: 400;
                          }

                          .contact-email{
                            font-size: 11px;
                            font-weight: 400;
                            line-height: 10px;
                          }
                        }
                    }
                 }
              }
           }
      }
    }
}

.user-profile-wrapper{
    @extend .main-content-container;
    margin-bottom: 15px;

    .row{
      .col-md-4{
        padding-right: 0px;
      }
    }

    .profile-info-container{
        padding: 60px !important;
        margin-top: 50px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.16);

        .row{
          margin-bottom: 15px;
        }

        .image-wrapper{
            height: 180px;
            width: 180px;
            border: 1px solid #9E9E9E;
            border-radius: 150px;
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .profile-info{
            padding-left: 45px;
            font-size: 16px;

            .name{
                font-size: 30px;
                font-weight: 600;

                .badge{
                  display: inline-block !important;
                  height: 21px;
                  width: 20px;
                }

                .badge-online{
                  @extend .badge;
                  background-color: #F4D546;
                }

                .badge-offline{
                  @extend .badge;
                  background-color: #FEA0A0;
                }
            }

            .age{
                font-size: 16px;
                padding-left: 25px;
            }

            .gender{
              font-size: 16px;
              padding-left: 25px;
            }

            .location{
              font-size: 16px;
            }

            .description{
              font-size: 14px;
              font-weight: 300;
              font-style: italic;
              height: 80px;
              overflow:hidden;
              text-overflow: ellipsis;
            }
        }
    }

    .user-profile-modules{
        height: 479px;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.16);

        .title{
            font-weight: 600;
            font-size: 20px;
            font-style: italic;
        }
    }

    .current-emotion{
      @extend .user-profile-modules;
      margin-top: 15px;

      .image-wrapper{
          @extend .content-center;
          margin-top: 15px;
          margin-bottom: 25px;
          height: 180px;
          width: 180px;
          overflow: hidden;

          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
      }

      .col-md-4{
        padding-right: 0px;
        font-weight: 600 !important;
      }

      .col-md-12{
        font-weight: 600 !important;
      }

      .BPM{
        padding-left: 0px;
      }

      .stress-level{
        padding-left: 0px;
      }

      .emotion-info{
        padding: 15px;

        .row{
          margin-bottom: 5px;
        }

        .upmood-meter{
            margin-top: 5px;

            .meter{
              background: linear-gradient(45deg, rgba(37,176,160,1) 0%, rgba(237,199,38,1) 100%);
              position: relative;
              height: 39px;
              border-radius: 150px;

              .meter-control{
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  height:  39px;
                  width:  39px;
                  overflow: hidden;
                  border-radius: 150px;

                  img{
                      height: 100%;
                      width: 100%;
                      object-fit: cover;
                  }
              }
            }

            .meter-description{
                position: relative;
                left: 18px;

                .description-tag{

                    display: inline-block;
                    float: left;
                    margin-right: 33px;
                    font-size:11px;
                    font-weight: 300;
                    font-style: italic;
                }
            }
        }
      }
    }

    .mood-steam{
      @extend .user-profile-modules;
      margin-top: 15px;

      .mood-steam-table{
          height: 410px;
          
          table{
            margin-top: 15px;

              tbody{

                  tr{
                      td{
                          .image-wrapper{
                              @extend .content-center;
                              height: 50px;
                              width: 50px;
                              overflow: hidden;

                              img{
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                              }
                          }
                      }
                  }
              }
          }
      }
    }

    .featured-friends{
      @extend .user-profile-modules;
      margin-top: 15px;

      .featured-friends-table{
          height: 410px;
          
          table{
            margin-top: 15px;

              tbody{

                  tr{
                      td{
                          .image-wrapper{
                              @extend .content-center;
                              height: 50px;
                              width: 50px;
                              overflow: hidden;

                              img{
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                              }
                          }
                      }
                  }
              }
          }
      }
    }

    .emotion-calendar{
        @extend .user-profile-modules;
        margin-top: 15px;

        .calendar-wrapper{

            .__vev_calendar-wrapper{

                .cal-wrapper{
                  padding: 10px;
                  width: 100%;

                  .cal-header{
                      background-color:#FFF2F2;
                      color: #4B4747;
                      border: 1px solid #95989A;
                      border-top-right-radius: 3px;
                      border-top-left-radius: 3px;
                  }

                  .cal-body{

                      .weeks{

                          .item{
                              border-left: 1px solid #a5a5a5;
                              border-bottom: 1px solid #a5a5a5;

                              &:nth-child(7n){
                                border-right: 1px solid #a5a5a5;                              
                              }

                              text-transform: uppercase;
                              font-weight: 600;
                              line-height: 28px;
                              font-size: 11px;
                              color: #333333;
                          }
                      }

                      .dates{

                          .item{
                            border-left: 1px solid #a5a5a5;
                            border-bottom: 1px solid #a5a5a5;

                            &:nth-child(7n){
                              border-right: 1px solid #a5a5a5;                              
                            }
                            
                            .date-num{
                              line-height: 50px;
                              font-weight: 300;
                              font-size: 12px;
                              top: -13px;
                              left: -13px;
                              color: #333333 !important;
                            }

                            .is-event{
                                display: none;
                            }

                            &.today{

                              .date-num{
                                  color: #27AE60 !important;
                                  font-weight: 700;
                              }

                              .is-today{
                                  display: none;
                              }

                              .is-event{
                                  display: none;
                              }
                            }
                          }
                      }
                  }
                }

                .events-wrapper{
                  display: none;
                }

            }
        }
    }
}

#notification-modal{
    background-color:rgba(0,0,0,0.60);
    
    .modal-dialog{
      padding: 25px;
      color: #fff;
      top: 40%;
      width: 407px;

      .modal-body{
        background-color:#BCCB87;

        .notification-content{
            padding: 10px 20px 10px 20px;

            .image-wrapper{
              float: left;
              margin-right: 20px;
              top: 7px;
              position: relative;
            }

            .text-content{
              padding-left: 54px;

              .notification-title{
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 0px;
              }

              .notification-description{
                font-size: 12px;
                font-weight: 400;
              }
            }
        }

        .close{
          color: #fff;
          opacity: 1.0;
          transition: 0.2s ease-out all;

          &:hover{
            color: #FF0000;
          }
        }
      }
    }
}